<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" href="/login">Войти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2>Добавить счет</h2>
    <form id="addInvoiceForm" class="form-inline">
        <div class="form-group mb-2">
            <label for="accountNumber" class="sr-only">Номер</label>
            <input type="text" class="form-control" id="accountNumber" placeholder="Номер" required>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="amount" class="sr-only">Сумма</label>
            <input type="number" class="form-control" id="amount" placeholder="Сумма" required>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="message" class="sr-only">Сообщение</label>
            <input type="text" class="form-control" id="message" placeholder="Сообщение">
        </div>
        <button type="submit" class="btn btn-primary mb-2" id="new_invoice">Отправить</button>
    </form>
    <h2 class="mt-5">Все счета</h2>
    <table class="table table-bordered" id="dataTable">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Дата и время</th>
            <th>Номер клиента</th>
            <th>Сумма</th>
            <th>Имя клиента</th>
            <th>Сообщение</th>
            <th>Статус счета</th>
            <th>КНОПКА ДЕЙСТВИЯ</th>
        </tr>
        </thead>
        <tbody>
        <!-- Здесь будут данные -->
        </tbody>
    </table>
</div>

<!-- Подключение Bootstrap JS и зависимостей -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Ваш JavaScript скрипт -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('./api/invoices', {
            method: 'GET',
            headers: {
                'Authorization': "Bearer " + localStorage.getItem('jwt')
            }
        })
            .then(response => response.json())
            .then(dataObject => {
                fillTable(dataObject); // Функция для заполнения таблицы
            })
            .catch(error => {
                console.error('Ошибка при загрузке данных:', error);
            });    });

    function fillTable(dataObject) {
        let tableBody = document.getElementById('dataTable').getElementsByTagName('tbody')[0];
        tableBody.innerHTML = '';

        dataObject.data.forEach(item => {
            let row = tableBody.insertRow();

            row.insertCell(0).textContent = item.id;
            row.insertCell(1).textContent = (new Date(item['created-at'])).toLocaleString();
            row.insertCell(2).textContent = item.account;
            row.insertCell(3).textContent = item.amount;
            row.insertCell(4).textContent = item['client-name'];
            row.insertCell(5).textContent = item.message;
            if (item.status == 0) {
            row.insertCell(6).textContent = "Счет принят в обработку"
            };

            let actionCell = row.insertCell(7);
            let actionButton = document.createElement('button');
            actionButton.textContent = 'Действие1';
            actionButton.className = 'btn btn-primary';
            actionCell.appendChild(actionButton);
        });
    }

    document.getElementById('addInvoiceForm').addEventListener('submit', function(e) {
    e.preventDefault();

    const submitButton = document.getElementById('new_invoice');
    submitButton.disabled = true;

    const accountNumber = document.getElementById('accountNumber').value;
    const amount = document.getElementById('amount').value;
    const message = document.getElementById('message').value;

    const invoiceData = {
        account: accountNumber,
        amount: parseInt(amount, 10),
        message: message
    };

    fetch('./api/invoices', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + localStorage.getItem('jwt')
        },
        body: JSON.stringify(invoiceData)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Счет успешно добавлен:', data);
        location.reload();
        // Опционально: обновите таблицу или очистите форму
    })
    .catch(error => {
        console.error('Ошибка при добавлении счета:', error);
        alert('Ошибка при добавлении счета');
    })
    .finally(() => {
        // Разблокировка кнопки через 2 секунды
        setTimeout(() => {
            submitButton.disabled = false;
        }, 2000);
    });
});
</script>

</body>
</html>
