<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5">Регистрация</h1>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form id="loginForm" class="mt-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="company" name="company-name" placeholder="Название компании">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
<!-- Подключение Bootstrap JS и зависимостей -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Ваш JavaScript скрипт -->
<script>
    document.getElementById('loginForm').addEventListener('submit', function(e) {
        e.preventDefault(); // Предотвращаем стандартную отправку формы

        var username = document.getElementById('username').value;
        var company = document.getElementById('company').value;
        var password = document.getElementById('password').value;

        // Отправка запроса на сервер
        fetch('/auth/sign-up', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                username: username,
                company_name: company,
                password: password
            }),
        })
            .then(response => {
                if (!response.ok) {
                    //TODO сделать нормальные ошибки
                    alert('Неправильный логин или пароль');
                    throw new Error('Ошибка аутентификации');
                }
                return response.json();
            })
            .then(data => {
                console.log('Успех:', data);
                // Сохранение токена в локальном хранилище браузера
                // Перенаправление на другую страницу или обновление интерфейса
                window.location.href = '/login';
            })
            .catch((error) => {
                console.error('Ошибка:', error);
                // Обработка ошибок входа
            });
    });

</script>
</body>
</html>
